@import "../fonts.css";
@import "../common.css";
@import "../media.css";

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.topContent {
  width: 100%;
  z-index: 10;
}

.mainContent {
  flex: 1;
}

/* IE11 Hack for no flexbox support */
@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .applicationLayout {
    display: block;
  }
}

.pageContent {
  position: relative;

  @media (--desktop) {
    display: flex;
    flex-direction: row;
  }
}

.mainContentContainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
  flex-grow: 2;
  min-height: 100vh;
  @media (--desktop) {
    width: calc(100% - 200px);
  }
}

/*IE11 support for sticky alternative*/
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .mainContent {
    flex: 1 0 auto;
  }
  .mainContentContainer {
    margin-top: 60px;
    @media (--desktop) {
      margin-left: 200px;
    }
  }

  :global(.showBanner) {
    .mainContentContainer {
      margin-top: 92px;
    }
  }
}
